* {
  margin: 0;
  padding: 0; }

body {
  background-color: #EEEEEE;
  color: #E9ECEE;
  font-family: RobotoRegular;
  font-size: 16px; }

.header,
.content,
.menu {
  max-width: 320px; }

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/robotoregular/robotoregular.eot");
  src: url("../fonts/robotoregular/robotoregular.eot?#iefix") format("embedded-opentype"), url("../fonts/robotoregular/robotoregular.woff") format("woff"), url("../fonts/robotoregular/robotoregular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.header {
  background-color: #0077C1;
  color: #112B40;
  padding-top: 20px; }

.header_logo {
  background-color: #42A5F5;
  padding: 10px;
  display: flex;
  justify-content: flex-start; }
  .header_logo .header_logo__img {
    margin-right: 10%; }

.menu {
  display: none;
  background-color: #42A5F5;
  color: #112B40;
  position: absolute;
  width: 100%; }

.menu_item {
  padding: 5px;
  margin-left: 10px; }

.content__header {
  background-color: #29434E;
  padding: 10px 25px;
  margin: 25px 0;
  text-align: center;
  line-height: 1; }

.films {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch; }

.films_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }

.films_item__dateStart {
  background-color: #29434E;
  padding: 2px 5px; }

.films_item__title {
  color: #616161;
  align-self: center;
  padding: 10px 5px;
  font-size: 120%; }

.films_item__image {
  border: 1px solid #B4B4B4;
  min-width: 200px;
  color: #616161; }

.films_item__duration {
  position: relative;
  bottom: 60px;
  right: 20px;
  padding: 5px 10px;
  background-color: #29434E;
  border: 1px solid #B4B4B4;
  border-radius: 50%;
  align-self: flex-end; }

.films_item__button {
  background-color: #546E7A;
  padding: 10px 30px;
  text-transform: uppercase;
  position: relative;
  bottom: 20px;
  align-self: center;
  border-radius: 3px;
  cursor: pointer; }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /*.header,.contentmax-width: 768px*/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /*.header,.contentmax-width: 992px*/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
