* {
  margin: 0;
  padding: 0; }

body {
  background-color: #EEEEEE;
  color: #E9ECEE;
  font-family: RobotoRegular; }

.header,
.content,
.menu {
  max-width: 320px; }

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/robotoregular/robotoregular.eot");
  src: url("../fonts/robotoregular/robotoregular.eot?#iefix") format("embedded-opentype"), url("../fonts/robotoregular/robotoregular.woff") format("woff"), url("../fonts/robotoregular/robotoregular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.header {
  background-color: #0077C1;
  color: #112B40;
  padding-top: 20px; }

.header_logo {
  background-color: #42A5F5;
  padding: 10px;
  display: flex;
  justify-content: flex-start; }
  .header_logo img {
    margin-right: 10px; }

.menu {
  display: none;
  background-color: #42A5F5;
  color: #112B40;
  /*display: flex*/
  flex-direction: column; }

.menu_item {
  padding: 5px;
  margin-left: 10px; }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /*.header,.contentmax-width: 768px*/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /*.header,.contentmax-width: 992px*/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
